#lorem{
    margin: 40px;
    padding: 20px;
    border: 14px solid darkred;
    border-radius: 10px;
    box-shadow: 14px 20px 20px rgb(100, 5, 5);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gayab{
    /* display: none; */
    /* visibility: hidden; */
}

li{
    /* display: block; */
}

span{
    border: 2px solid darkred;
    border-radius: 1px;
}

